<div class="container mx-auto row justify-content-between mt-5 mb-5">
	<div class="card border-light col-4 mt-3" style="width: 18rem">
		<div class="card-header">
			<h2>Front-end</h2>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				<img src="../pics/367627-64.png" />
				<h3>HTML</h3>
			</li>
			<li class="list-group-item">
				<img src="../pics/css.png" alt="CSS" />
				<h3>CSS</h3>
			</li>
			<li class="list-group-item">
				<img src="../pics/js.png" alt="" />
				<h3>JavaScript</h3>
			</li>
			<li class="list-group-item">
				<img src="../pics/bootstrap.png" alt="" />
				<h3>Bootstrap</h3>
			</li>
			<li class="list-group-item">
				<h3>ejs</h3>
			</li>
		</ul>
	</div>
	<div class="card border-light col-4 mt-3" style="width: 18rem">
		<div class="card-header">
			<h2>Back-end</h2>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				<img src="../pics/nodejs.png" />
				<h3>NodeJS</h3>
			</li>
			<li class="list-group-item">
				<img src="../pics/mysql.png" alt="CSS" />
				<h3>MySQL</h3>
			</li>
			<li class="list-group-item">
				<img src="../pics/mongodb.png" alt="" />
				<h3>MongoDB</h3>
			</li>
		</ul>
	</div>
	<div class="card border-light col-4 p-0 mt-3" style="width: 18rem">
		<div class="card-header">
			<h2>Curently learning</h2>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				<img src="../pics/angular.png" />
				<h3>Angular</h3>
			</li>
			<li class="list-group-item">
				<h3>Materializecss</h3>
			</li>
			<li class="list-group-item">
				<h3>Handlebars</h3>
			</li>
		</ul>
	</div>
</div>
