<% layout("layouts/boilerplate") %> <% if(post && post.length) { %>
<div class="popup-msg">
  <span class="popup-msg-text" id="msgPopup"> <%=post%> </span>

  <button class="btn-close-popupmsg">X</button>
</div>
<%}%> <% if(nameErr && nameErr.length) { %>
<div class="popup-msg error">
  <span class="popup-msg-text" id="msgPopup"> <%=nameErr%> </span>

  <button class="btn-close-popupmsg">X</button>
</div>
<%}%>
<h1 class="mb-3">ADMIN</h1>
<div class="container">
  <a href="/admin/login">Login</a>
</div>
<div class="container">
  <div>
    <a href="/admin">Edit main page</a>
  </div>
  <div>
    <a href="/admin">Edit contacts page</a>
  </div>
</div>
