<div class="navbar">
  <div class="logo">GrushVolo</div>
  <div id="btn-menu">
    <button class="c-gamb c-gamb-inline">
      <span>Menu</span>
    </button>
    <div class="menu-btn hidden">
      <ul>
        <li><a class="a-link" href="/"> Home</a></li>
        <!-- <li><a href="/about"> About me</a></li> -->
        <li><a class="a-link" href="/ability"> My ability</a></li>
        <li><a class="a-link" href="exampels"> Exampels</a></li>

        <li><a class="a-link" href="/contact"> Contacts</a></li>
      </ul>
    </div>
  </div>
  <div class="menu">
    <ul>
      <li><a class="a-link" href="/"> Home</a></li>
      <!-- <li><a href="/about"> About me</a></li> -->
      <li><a class="a-link" href="/ability"> My ability</a></li>
      <li><a class="a-link" href="exampels"> Exampels</a></li>

      <li><a class="a-link" href="/contact"> Contacts</a></li>
    </ul>
  </div>
</div>

<script src="../javascripts/navBarBtn.js"></script>
