<div class="navbar">
  <div class="logo">GrushVolo</div>
  <div id="btn-menu">
    <button class="c-gamb c-gamb-inline">
      <span>Menu</span>
    </button>
    <div class="menu-btn hidden">
      <ul>
        <li><a href="#"> About me</a></li>
        <li><a href="#"> My ability</a></li>
        <li><a href="#"> Exampels</a></li>
        <li><a href="#"> Contact</a></li>
      </ul>
    </div>
  </div>
  <div class="menu">
    <ul>
      <li><a href="#"> About me</a></li>
      <li><a href="#"> My ability</a></li>
      <li><a href="#"> Exampels</a></li>
      <li><a href="#"> Contact</a></li>
    </ul>
  </div>
</div>

<script src="../javascripts/navBarBtn.js"></script>
