<% layout('layouts/boilerplate')-%>
<div>
  <h1>Portfolio</h1>
  <div class="container photo">
    <img src="/pics/IMG_1634.JPG" alt="" />
    <div class="about-me">
      <p>I live in Ukraine near Kyiv. I'm Self aducated person.</p>
      <p>
        I finished video lessons on udemy, also read books. I have basic
        knoweldge in JavaScript, HTML, CSS, Node JS.
      </p>
    </div>
  </div>
  <div class="container">
    <div class="first">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta
        repellendus ad eius non, nam esse officia dignissimos vero harum?
        Ratione corporis, voluptatibus dolorum fugit animi necessitatibus.
        Recusandae explicabo quae quo.
      </p>
    </div>
    <div class="container">
      <img class="certificate" src="/pics/bootcamp.jpg" alt="" />
    </div>

    <div class="container">
      <img class="certificate" src="/pics/fullstack.jpg" alt="" />
    </div>
    <div class="container">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora
        perferendis beatae ea ipsa asperiores ex cum natus, sunt ducimus error.
        Saepe, deleniti assumenda voluptate laudantium accusamus itaque. Veniam,
        animi deserunt.
      </p>
    </div>
    <div class="container">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi vel atque
        nobis quidem voluptas corrupti officiis autem, maiores quo itaque rerum
        sequi id doloremque veritatis distinctio hic accusantium nulla mollitia.
      </p>
    </div>
    <div class="container">
      <img class="certificate" src="/pics/nodejs.jpg" alt="" />
    </div>
    <div class="container">
      <img class="certificate" src="/pics/angular.jpg" alt="" />
    </div>
    <div class="container">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, et
        fugiat magnam nobis, eius perferendis voluptatibus, amet quas enim
        corporis officia velit quasi deserunt eaque voluptas animi quia ratione
        minima!
      </p>
    </div>
  </div>
</div>
