<% layout('layouts/boilerplate')-%>
<div class="container">
  <div class="container photo">
    <img src="/pics/IMG_1634.JPG" alt="" />
    <div class="about-me">
      <p>I live in Ukraine near Kyiv. I'm Self aducated person.</p>
      <p>
        I finished video lessons on udemy, also read books. I have basic
        knoweldge in JavaScript, HTML, CSS, Node JS.
      </p>
    </div>
  </div>
</div>
