<%layout('layouts/boilerplate')%>
<div class="modal-alert">
  <div class="modal-cert">
    <img class="certificate" src="/pics/bootcamp.jpg" alt="" />
  </div>
  <span class="close-alert">&times;</span>
</div>
