.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-top: 4%;
}

/* The actual popup (appears on top) */

.popup .popuptext {
  visibility: hidden;
  width: 360px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  left: 15%;
  margin-left: -80px;
  margin-top: 50px;
}

/* Popup arrow */

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* add my style*/

.popup-form {
  width: 100%;
}

div > .btn-close {
  width: 30px;
  height: 30px;
  border-radius: 7%;
  display: block;
  position: relative;
  margin-left: auto;
  top: 0;
  font-weight: bold;
  color: red;
}

.popup-lable {
  font-size: 1.1rem;
  padding: 0;
  margin: 0;
}

.popup-inpt {
  border: 0;
  border-radius: 5%;
  padding: 0;
  margin: 5px;
  width: 90%;
  height: 30px;
}

.message {
  margin-top: 20px;
  border-radius: 5%;
}

.comment {
  border: 2px solid grey;
  height: 100%;
}

.btn-popup {
  list-style: none;
  border-radius: 7%;
  width: 150px;
  height: 30px;
}
